
* {

  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(90deg, rgba(25, 136, 247, 1) 0%, rgba(247, 25, 136, 1) 100%);
}

/* Style the header */
.header {
  grid-area: header;
  background-color: red;
  opacity: 0.6;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}


.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
  
} 

.left,
.middle,
.right {
  padding: 10px;
  text-align: center;
  opacity: 0.9;
  .novelbox{
    padding: 3px;
    background-color: rgb(238, 230, 230);
    
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}




.left {
  grid-area: left;
}


.middle {
  grid-area: middle;
}


.right {
  grid-area: right;
}

.description{
  background-color: white;
  opacity: 0.5;
  margin: 20px;
  color: black;
  padding: 20px;
  
}


.row {
  display: -webkit-flex;
  display: flex;
}


.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  text-align: center;
}


.footer {
  grid-area: footer;
  background-color: #228f86;
opacity: 0.6;
  padding: 30px;
  text-align: center;
  font-size: 25px;
}

@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    .show-search {
          width: 450px;
        }
  }
}
}

.go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background: #fff;
  border: 3px solid #333;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.go-top-btn img {
  width: 30px;
  height: 30px;
}

.box{
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: white;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px black;
}

.box:hover input{
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

.box a .fas{
  color: aquamarine;
  font-size: 18px;
}

.container {
  height: 100vh;
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
}

.search {
  position: relative;
  width: 76px;
  height: 76px;
  background-color: var(--white-color);
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
  border-radius: 4rem;
  padding: 10px;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__input {
  border: none;
  outline: none;
  width: calc(100% - 64px);
  height: 100%;
  border-radius: 4rem;
  padding-left: 14px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}
.search__input:-webkit-autofill {
  box-shadow: 0 0 0 100px var(--white-color) inset;
}
.search__button {
  width: 56px;
  height: 56px;
  background-color: var(--dark-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__icon, .search__close {
  color: var(--white-color);
  font-size: 1.5rem;
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__close {
  opacity: 0;
}

/* Search animated */
.show-search {
  width: 100%;
}
.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
}
.show-search .search__button {
  transform: rotate(90deg);
}
.show-search .search__icon {
  opacity: 0;
}
.show-search .search__close {
  opacity: 1;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(222, 80%, 58%);
  --dark-color: hsl(222, 24%, 8%);
  --title-color: hsl(222, 8%, 8%);
  --text-color-light: hsl(222, 8%, 65%);
  --white-color: #fff;
  --body-color: hsl(222, 100%, 99%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --small-font-size: .813rem;
}
@media screen and (min-width: 968px) {
  :root {
    --small-font-size: .875rem;
  }
}