
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(90deg, rgba(25, 136, 247, 1) 0%, rgba(247, 25, 136, 1) 100%);
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #fc0c0c;
  opacity: 0.9;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}


.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
  
} 

.left,
.middle,
.right {
  padding: 10px;
  text-align: center;
  .novelbox{
    padding: 3px;
    background-color: rgb(238, 230, 230);
    opacity: 0.8;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}




.left {
  grid-area: left;
}


.middle {
  grid-area: middle;
}


.right {
  grid-area: right;
}


.footer {
  grid-area: footer;
  background-color: #228f86;
  opacity: 0.5;
  padding: 30px;
  text-align: center;
  font-size: 25px;
}

@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
}

